@if (_selectedCategory == null)
{
    <MudPaper Class="d-flex flex-column gap-3 pa-3">
        <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
            <MudText Typo="Typo.h6">Select A Category</MudText>
            <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="() => AddCategory_OnClick(null)">Add Category</MudButton>
        </MudStack>
        <MudPaper Outlined MinHeight="300px" MaxHeight="600px" Class="d-flex flex-column overflow-auto">
            @if (Categories.Any())
            {
                <MudList Clickable>
                    @foreach (var category in Categories)
                    {
                        <MudListItem Text="@category.Name" OnClick="() => Category_OnClick(category)" />
                    }
                </MudList>
            }
            else
            {
                <div class="flex-grow-1 d-flex flex-column justify-center align-center">
                    <MudText>Click <strong>Add Category</strong> to add a new category</MudText>
                </div>
            }
        </MudPaper>
    </MudPaper>
}
else
{
    <MudPaper Class="d-flex flex-column gap-3 pa-3">
        <div>
            <MudButton StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="() => Category_OnClick(_selectedCategory.ParentCategory)">Back</MudButton>
        </div>

        <!-- category details -->
        <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
            <MudText Typo="Typo.h6">Edit Category</MudText>
            <MudButton OnClick="DeleteCategory_OnClick" StartIcon="@Icons.Material.Filled.Delete">Delete</MudButton>
        </MudStack>
        <MudStack Row>
            @if (_selectedCategory.ThumbnailId == null)
            {
                <div class="relative">
                    <MudFileUpload T="IBrowserFile" FilesChanged="UploadThumbnail" Hidden="false" Class="flex-1"
                           InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20 cursor-pointer" InputStyle="opacity:0"
                           @ondragenter="@SetDragStyle" @ondragleave="@ClearDragStyle" @ondrop="@ClearDragStyle">
                        <ButtonTemplate>
                            <MudPaper Height="150px" Width="150px" Class="d-flex flex-column justify-center align-center gap-1" Style="@_dragStyle" Outlined>
                                <MudIcon Icon="@Icons.Material.Filled.AddAPhoto" Size="Size.Large" />
                                <MudText Typo="Typo.caption" Align="Align.Center">Click or Drop to add thumbnail</MudText>
                            </MudPaper>
                        </ButtonTemplate>
                    </MudFileUpload>
                </div>
            }
            else
            {
                <MudPaper Height="150px" Width="150px" Outlined Class="d-flex align-center justify-center">
                    <MudImage Src="/images/no-image.png" Alt="thumbnail image" Height="150" Width="150" />
                </MudPaper>
            }
            <MudStack Class="flex-grow-1">
                <MudTextField T="string" Value="_nameField" ValueChanged="Name_ValueChanged" Label="Name" Variant="Variant.Outlined" MaxLength="50" Immediate Required />
                <MudTextField T="string" Value="_descriptionField" ValueChanged="Description_ValueChanged" Label="Description" Variant="Variant.Outlined" Lines="3" Immediate MaxLength="500" />
            </MudStack>
        </MudStack>
        <MudToolBar>
            <MudSpacer />
            <MudButton OnClick="UpdateCategory_OnClick" Variant="Variant.Filled" Color="Color.Primary" Disabled="_isDirty == false">Save Changes</MudButton>
        </MudToolBar>

        <!-- child categories -->
        <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mt-10">
            <MudText Typo="Typo.h6">Child Categories</MudText>
            <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="() => AddCategory_OnClick(_selectedCategory)">Add Category</MudButton>
        </MudStack>
        <MudPaper Outlined MinHeight="300px" MaxHeight="600px" Class="d-flex flex-column overflow-auto">
            @if (_selectedCategory.ChildCategories.Any())
            {
                <MudList Clickable>
                    @foreach (var category in _selectedCategory.ChildCategories)
                    {
                        <MudListItem Text="@category.Name" OnClick="() => Category_OnClick(category)" />
                    }
                </MudList>
            }
            else
            {
                <div class="flex-grow-1 d-flex flex-column justify-center align-center">
                    <MudText>Click <strong>Add Category</strong> to add a new category</MudText>
                </div>
            }
        </MudPaper>
    </MudPaper>
}
