@using Row = CadflairDataAccess.Models.Row;

@page "/{CompanyName}/products/{ProductDefinitionName}/{PartNumber}/"
@layout MainLayout

<PageTitle>@CompanyName - @ProductDefinitionName</PageTitle>

<MudOverlay Visible="_initializing" Class="mud-background" Style="z-index:1200;">
    <MudProgressCircular Color="Color.Default" Size="Size.Large" Indeterminate />
</MudOverlay>

<!-- desktop -->
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudStack Row Spacing="0" Class="sticky-header mud-background mud-width-full pa-3 z-60" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Start">
        <div class="flex-shrink-1 overflow-hidden">
            <MudText Typo="Typo.h5" Style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden; font-weight:500;">@_productDefinition?.Name</MudText>
            <MudText Typo="Typo.body1" Style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden;">Part Number: @_row.PartNumber</MudText>
        </div>
        <MudButton StartIcon="@Icons.Material.Filled.IosShare" OnClick="ShareButton_OnClick">Share</MudButton>
    </MudStack>

    <MudGrid Spacing="0" Class="px-5">
        <MudItem xs="12" sm="6">
            <MudPaper Class="relative" MinHeight="50dvh" Height="100%" MaxHeight="65dvh">
                <ForgeViewer @ref="_forgeViewer" />
                <div class="absolute pa-3 z-10" style="top:0; left:0;">
                    @if (_3dAttachment != null && _activeAttachment == null)
                    {
                        <MudFab StartIcon="@Icons.Material.Filled.ViewInAr" Label="View 3D" OnClick="View3D_OnClick" Color="Color.Primary" Size="Size.Small" />
                    }
                    else if (_2dAttachment != null && _3dAttachment == _activeAttachment)
                    {
                        <MudFab StartIcon="@Icons.Material.Filled.SwapHoriz" Label="View 2D" OnClick="View2D_OnClick" Color="Color.Primary" Size="Size.Small" />
                    }
                    else if (_3dAttachment != null && _2dAttachment == _activeAttachment)
                    {
                        <MudFab StartIcon="@Icons.Material.Filled.SwapHoriz" Label="View 3D" OnClick="View3D_OnClick" Color="Color.Primary" Size="Size.Small" />
                    }
                </div>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" Class="px-5">

            <!-- product details -->
            @if (_row.Attachments.Any() == true)
            {
                <MudText Typo="Typo.body2" Class="pb-2">Downloads</MudText>
                <MudStack Row AlignItems="AlignItems.Center">
                    <MudIcon Icon="@Icons.Material.Filled.InsertDriveFile" />
                    <MudSelect T="Attachment" @bind-Value="_selectedDownload" Variant="Variant.Outlined" Margin="Margin.Dense" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var attachment in _row.Attachments)
                        {
                            @switch (Path.GetExtension(attachment.ForgeObjectKey))
                            {
                                case ".pdf":
                                case ".dwg":
                                    <MudSelectItem Value="attachment">2D Drawing - @attachment.ForgeObjectKey</MudSelectItem>
                                    break;
                                case ".stp":
                                case ".ipt":
                                case ".iam":
                                    <MudSelectItem Value="attachment">3D Model - @attachment.ForgeObjectKey</MudSelectItem>
                                    break;
                            }
                        }
                    </MudSelect>
                    <MudButton StartIcon="@Icons.Material.Filled.Download" OnClick="Download_OnClick" Variant="Variant.Outlined" DisableElevation>Download</MudButton>
                </MudStack>
            }
            <MudTable Items="_row.TableValues" Elevation="0" Class="my-5">
                <RowTemplate>
                    <MudTd>@_productTable.Columns.FirstOrDefault(i => i.Id == context.ColumnId)?.Header</MudTd>
                    <MudTd>@context.Value</MudTd>
                </RowTemplate>
            </MudTable>
            <MudText Typo="Typo.body1" Class="mt-5">@_productDefinition?.Description</MudText>
        </MudItem>
    </MudGrid>

</MudHidden>

<!-- mobile -->
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudStack Row Spacing="0" Class="sticky-header mud-background mud-width-full pa-3 z-20" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Start">
        <div class="flex-shrink-1 overflow-hidden">
            <MudText Typo="Typo.h5" Style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden; font-weight:500;">@_productDefinition?.Name</MudText>
            <MudText Typo="Typo.body1" Style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden;">Part Number: @_row.PartNumber</MudText>
        </div>
        <MudIconButton Icon="@Icons.Material.Filled.IosShare" OnClick="ShareButton_OnClick" />
    </MudStack>

    <MudStack Class="pa-3">
        @if (_3dAttachment != null)
        {
            <MudButton StartIcon="@Icons.Material.Filled.ViewInAr" OnClick="View3DMobile_OnClick" Variant="Variant.Filled" DisableElevation>View 3D</MudButton>
        }
        else if (_2dAttachment != null)
        {
            <MudButton StartIcon="@Icons.Material.Outlined.Pageview" OnClick="View2DMobile_OnClick" Variant="Variant.Filled" DisableElevation>View 2D</MudButton>
        }
    </MudStack>

    @foreach (var column in _productTable.Columns)
    {
        <MudStack Row Class="pa-3" Justify="Justify.SpaceBetween">
            <MudText Style="font-weight:500;">@column.Header</MudText>
            <MudText Align="Align.Right">@_row.TableValues.FirstOrDefault(i => i.ColumnId == column.Id)?.Value</MudText>
        </MudStack>
        <MudDivider />
    }
    <MudText Typo="Typo.body1" Class="my-5 pa-3">@_productDefinition?.Description</MudText>


    @if (_row.Attachments.Any() == true)
    {
        <MudStack Class="pa-3" Spacing="1">
            <MudText Typo="Typo.body2" Class="pb-2">Downloads</MudText>
            <MudSelect T="Attachment" @bind-Value="_selectedDownload" Variant="Variant.Outlined" Margin="Margin.Dense" AnchorOrigin="Origin.BottomCenter">
                @foreach (var attachment in _row.Attachments)
                {
                    @switch (Path.GetExtension(attachment.ForgeObjectKey))
                    {
                        case ".pdf":
                        case ".dwg":
                            <MudSelectItem Value="attachment">2D Drawing - @attachment.ForgeObjectKey</MudSelectItem>
                            break;
                        case ".stp":
                        case ".ipt":
                        case ".iam":
                            <MudSelectItem Value="attachment">3D Model - @attachment.ForgeObjectKey</MudSelectItem>
                            break;
                    }
                }
            </MudSelect>
            <MudButton StartIcon="@Icons.Material.Filled.Download" OnClick="Download_OnClick" Variant="Variant.Filled" DisableElevation>Download</MudButton>
        </MudStack>
    }
</MudHidden>


