@page "/catalog/{CompanyName}"
@layout ConfiguratorLayout

<PageTitle>Cadflair - Product Catalog</PageTitle>

@*<iframe src="https://cadflair.com/demo/products" title="Cadflair model viewer" />*@

<MudDrawerContainer Class="mud-height-full relative">

    <!-- product folder tree -->
    <MudHidden Breakpoint="Breakpoint.MdAndDown">
        <MudDrawer @bind-Open="@_drawerOpen" Anchor="Anchor.Left" Elevation="1" Variant="DrawerVariant.Persistent">
@*            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Folders</MudText>
            </MudDrawerHeader>
*@

            <!-- new product folder -->
            <AuthorizeView>
                <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="() => _showNewProductFolderDialog = true" Class="ma-3">New</MudButton>
                <MudDialog @bind-IsVisible="_showNewProductFolderDialog" Options="_newProductFolderDialogOptions">
                    <TitleContent>
                        <MudText Typo="Typo.h6">Add Folder</MudText>
                    </TitleContent>
                    <DialogContent>
                        <MudTextField Label="Folder Name" @bind-Value="_newProductFolderName" Variant="Variant.Outlined" Immediate />
                    </DialogContent>
                    <DialogActions>
                        <MudButton OnClick="NewProductFolder_OnClose">Cancel</MudButton>
                        <MudButton Color="Color.Primary" OnClick="NewProductFolder_OnSubmit" Disabled="@(string.IsNullOrWhiteSpace(_newProductFolderName))">Ok</MudButton>
                    </DialogActions>
                </MudDialog>
            </AuthorizeView>

            <MudStack Class="mud-height-full overflow-auto">
                <MudTreeView T="ProductFolder" Items="_productFolders.ToHashSet()" Hover ExpandOnDoubleClick>
                    <ItemTemplate>
                        <MudTreeViewItem Items="@context.ChildFolders.ToHashSet()" OnClick="() => ProductFolder_OnClick(context)"
                                         Value="@context" Activated="_selectedProductFolder == context"
                                         Text="@context.DisplayName" Icon="@Icons.Material.Filled.Folder" />
                    </ItemTemplate>
                </MudTreeView>
            </MudStack>
        </MudDrawer>
    </MudHidden>

    <MudStack Spacing="0" Class="mud-height-full px-5 pt-3 overflow-auto relative">
        <MudOverlay Visible="_initializing" Absolute Class="mud-background">
            <MudProgressCircular Color="Color.Default" Size="Size.Large" Indeterminate />
        </MudOverlay>


        <!-- header toolbar -->
        <div>
            <MudToolBar DisableGutters Dense>
                @if (_selectedProductFolder == null)
                {
                    <MudText>Please select a folder.</MudText>
                }
                else
                {
                    <MudBreadcrumbs Items="_breadcrumbItems" Class="align-start">
                        <SeparatorTemplate>
                            <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Class="my-2 mx-0" />
                        </SeparatorTemplate>
                        <ItemTemplate Context="item">
                            <MudButton Class="pa-2" OnClick="() => BreadcrumbItem_OnClick(item)">
                                <MudText>@item.Text</MudText>
                            </MudButton>
                        </ItemTemplate>
                    </MudBreadcrumbs>
                }
                <MudSpacer />

                <!-- new cad model dialog -->
                <AuthorizeView Context="authcontext">
                    @if(_selectedProductFolder != null)
                    {
                        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="() => _showNewCadModelDialog = true" Class="ma-3">New Model</MudButton>
                        <MudDialog @bind-IsVisible="_showNewCadModelDialog" Options="_newCadModelDialogOptions">
                            <TitleContent>
                                <MudText Typo="Typo.h6">New Model</MudText>
                            </TitleContent>
                            <DialogContent>
                                <MudForm @bind-IsValid="_newCadModelValid">
                                    <MudTextField Label="Display Name" @bind-Value="_newCadModelDisplayName" Variant="Variant.Outlined" Immediate Required />
                                    <MudTextField Label="Description" @bind-Value="_newCadModelDescription" Variant="Variant.Outlined" Lines="3" Immediate Required />
                                    <MudFileUpload T="IBrowserFile" FilesChanged="(file) => _attachedFile = file" Hidden="_attachedFile != null"
                                               InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
                                               @ondragenter="@SetDragStyle" @ondragleave="@ClearDragStyle" @ondrop="@ClearDragStyle">
                                        <ButtonTemplate>
                                            <MudPaper Height="300px" Outlined Class="relative pa-4" Style="@($"border-color: var(--mud-palette-lines-inputs); {_dragStyle}")">
                                                @if (_attachedFile == null)
                                                {
                                                    <MudText Typo="Typo.h6">Drag and drop files here or click</MudText>
                                                }
                                                else
                                                {
                                                    <MudChip Text="@_attachedFile?.Name" Icon="@Icons.Material.Filled.AttachFile" OnClose="() => _attachedFile = null" />
                                                }
                                            </MudPaper>
                                        </ButtonTemplate>
                                    </MudFileUpload>
                                </MudForm>
                            </DialogContent>
                            <DialogActions>
                                <MudButton OnClick="NewCadModel_OnClose">Cancel</MudButton>
                                <MudButton Color="Color.Primary" OnClick="NewCadModel_OnSubmit" Disabled="!_newCadModelValid || _attachedFile == null">Ok</MudButton>
                            </DialogActions>
                        </MudDialog>
                    }
                </AuthorizeView>

                <MudIconButton OnClick="ToggleView_OnClick" Icon="@(_displayListView ? Icons.Material.Filled.GridView : Icons.Material.Filled.ViewList)" />
            </MudToolBar>
            <MudDivider />
        </div>


        @if (_cadModels.Count == 0)
        {
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-height-full">
                <MudStack AlignItems="AlignItems.Center">
                    <MudIcon Icon="@Icons.Material.Filled.InsertDriveFile" Size="Size.Large" />
                    <MudText>No models found.</MudText>
                </MudStack>
            </MudStack>
        }
        else
        {
            @if (_displayListView)
            {
                <MudDataGrid T="CadModel" Items="_cadModels"
                     RowClick="CadModelsGrid_OnRowClick"
                     ColumnResizeMode="ResizeMode.Column"
                     Elevation="0" Height="100%" Class="overflow-auto"
                     Dense Hover FixedHeader Square>
                    <Columns>
                        <PropertyColumn Property="x => x!.DisplayName" Title="Display Name" />
                    </Columns>
                </MudDataGrid>
            }
            else
            {
                <MudGrid Justify="Justify.FlexStart" Class="my-0 overflow-auto" Style="max-height: 100%">
                    @foreach (CadModel cadModel in _cadModels)
                    {
                        <MudItem>
                            <MudPaper>
                                <MudButton Variant="Variant.Text" Href=@($"catalog/{_subscription?.SubdirectoryName}/{cadModel.Guid}")>
                                    <MudStack Style="width:140px">
                                        @*<ProductThumbnail Product="@product" Height="140" Width="140" />*@
                                        <MudText Typo="Typo.button" Style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;">@cadModel.DisplayName</MudText>
                                    </MudStack>
                                </MudButton>
                            </MudPaper>
                        </MudItem>
                    }
                </MudGrid>
            }
        }
    </MudStack>
</MudDrawerContainer>

