@page "/dashboard"
@attribute [Authorize]

<PageTitle>Cadflair</PageTitle>

<!--pop-up to start a new free trial if no subscription is found for the user-->
<MudPopover Open="@_showGetStarted" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter" Delay="500">
    <MudOverlay Visible="true" DarkBackground="true" AutoClose="false">
        <MudPaper>
            <MudStack AlignItems="AlignItems.Center" Class="pa-5">
                <MudText Typo="Typo.h4">Welcome to Cadflair</MudText>
                <MudText Typo="Typo.body1">Start your <b>30 day free trial</b> to begin!</MudText>
                <MudButton Link="/subscription/new" Variant="Variant.Filled" Color="Color.Primary">Get Started</MudButton>
            </MudStack>
        </MudPaper>
    </MudOverlay>
</MudPopover>

<MudStack Row="true" Spacing="0" Class="mud-height-full">

    <!-- product folder tree -->
    <ProductFolderTree SelectedFolderChanged="SelectedProductFolderChanged" />

    <MudStack Class="flex-grow-1 mud-height-full" Row="true">
        <MudStack Spacing="0" Class="flex-grow-1 pa-3">
            <div>
                <MudToolBar DisableGutters="true" Dense="true">
                    <MudBreadcrumbs Items="_breadcrumbItems" Class="align-start">
                        <SeparatorTemplate>
                            <MudIcon Icon="@Icons.Material.Filled.ChevronRight"/>
                        </SeparatorTemplate>
                        <ItemTemplate Context="item">
                            <MudText>@item.Text</MudText>
                        </ItemTemplate>
                    </MudBreadcrumbs>
                    <MudSpacer />
                    <MudIconButton OnClick="ToggleView" Icon="@_toggleViewIcon" />
                    <MudIconButton OnClick="() => _showDetails = !_showDetails" Icon="@Icons.Filled.Info"/>
                </MudToolBar>
                <MudDivider />
            </div>

            <!-- product data grid -->
            @if (_displayListView)
            {
                <MudDataGrid T="Product"
                         Items="_products"
                         SelectedItemChanged="SelectedProductChanged"
                         ColumnResizeMode="ResizeMode.Column"
                         Dense="true"
                         Elevation="0"
                         Hover="true"
                         Class="flex-grow-1">
                    <Columns>
                        <Column T="Product" Sortable="false" Filterable="false" Resizable="false">
                            <CellTemplate>
                                <ProductThumbnail Product="@context.Item" Height="100" Width="100" />
                            </CellTemplate>
                        </Column>
                        <Column T="Product" Field="@nameof(Product.DisplayName)" Title="Display Name"/>
                        <Column T="Product" Field="@nameof(Product.IsPublic)" Title="Is Public">
                            <CellTemplate>
                                <MudCheckBox Checked="@context.Item.IsPublic" ReadOnly="true"></MudCheckBox>
                            </CellTemplate>
                        </Column>
                        <Column T="Product" Field="@nameof(Product.CreatedOn)" Title="Created On">
                            <CellTemplate>
                                <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.Center">
                                    <MudIcon Icon="@Icons.Filled.CalendarToday" />
                                    <MudText>@context.Item.CreatedOn.DateTime.ToShortDateString()</MudText>
                                </MudStack>
                            </CellTemplate>
                        </Column>
                        <Column T="Product" Field="@nameof(Product.SubdirectoryName)" Title="Created On">
                            <CellTemplate>
                                <MudLink Href="@($"/{_subscription.SubdirectoryName}/products/{context.Item.SubdirectoryName}")">Configure</MudLink>
                            </CellTemplate>
                        </Column>
                    </Columns>
                </MudDataGrid>
            }
            else
            {
                <MudGrid Justify="Justify.FlexStart" Class="py-5 overflow-auto" Style="max-height: 100%">
                    @foreach (Product product in _products)
                    {
                        <MudItem>
                            <MudPaper>
                                <MudButton Variant="Variant.Text" Href=@($"/{_subscription.SubdirectoryName}/products/{product.SubdirectoryName}")>
                                    <MudStack>
                                        <ProductThumbnail Product="@product" Height="200" Width="200" />
                                        @product.DisplayName
                                    </MudStack>
                                </MudButton>
                            </MudPaper>
                        </MudItem>
                    }
                </MudGrid>
            }

        </MudStack>
    </MudStack>
</MudStack>


@*<!-- product details drawer -->
<MudDrawer @bind-Open="_showDetails"
           Elevation="0"
           Variant="@DrawerVariant.Persistent"
           Anchor="Anchor.Right"
           ClipMode="DrawerClipMode.Always"
           Width="600px">

    <MudStack Row="true" Class="mud-height-full overflow-auto">
        <MudDivider Vertical="true" />
        <div>
            <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="pa-5">
                <MudText Typo="Typo.h5">Details</MudText>
                <MudIconButton OnClick="() => _showDetails = false" Icon="@Icons.Filled.Close" />
            </MudStack>
            <MudStack Row="true">
                <div class="flex-grow-1">
                    <MudText Typo="Typo.body1">Display Name: @_selectedProduct?.DisplayName</MudText>
                    <MudText Typo="Typo.body1">Parameters:</MudText>
                    <MudText Typo="Typo.body1">Allows custom configurations:</MudText>
                    <MudText Typo="Typo.body1">Is public:</MudText>
                    <MudText Typo="Typo.body1">Copy link:</MudText>
                </div>
                <ProductThumbnail Product="@_selectedProduct" Height="400" Width="400" />
            </MudStack>

            <!-- product paramaters grid -->
            <MudDataGrid T="ILogicFormElement"
                         Items="_parameterGridItems"
                         Class="flex-grow-1 overflow-auto"
                         Striped="true"
                         Dense="true">
                <Columns>
                    <Column T="ILogicFormElement" Field="@nameof(ILogicFormElement.Name)" Title="Display Name" />
                    <Column T="ILogicFormElement" Field="@nameof(ILogicFormElement.ParameterName)" Title="Parameter Name" />
                    <Column T="ILogicFormElement" Field="@nameof(ILogicFormElement.ParameterExpression)" Title="Default Value" />
                </Columns>
            </MudDataGrid>
        </div>
    </MudStack>
</MudDrawer>
*@

