@page "/"
@using CadflairBlazorServer.Shared

<PageTitle>Cadflair</PageTitle>

@*<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity?.Name</p>
        <p>Auth Type: @context.User.Identity?.AuthenticationType</p>
        @foreach (var claim in context.User.Claims)
        {
            <p>Claim Type: @claim.Type</p>
            <p>Claim Value: @claim.Value</p>
        }

        <p>Database user:</p>
        <p>Id: @_authenticationService.LoggedInUser?.Id</p>
        <p>Object Identifier: @_authenticationService.LoggedInUser?.ObjectIdentifier</p>
        <p>First Name: @_authenticationService.LoggedInUser?.FirstName</p>
        <p>Last Name: @_authenticationService.LoggedInUser?.LastName</p>
        <p>Full Name: @_authenticationService.LoggedInUser?.FullName</p>
        <p>Email: @_authenticationService.LoggedInUser?.EmailAddress</p>
        <p>Created: @_authenticationService.LoggedInUser?.CreatedOn</p>
        <p>SubscriptionId: @_authenticationService.LoggedInUser?.SubscriptionId</p>

    </Authorized>

    <NotAuthorized>
        <p>Not logged in!</p>
    </NotAuthorized>
</AuthorizeView>
*@

@*
<MudButton OnClick="EmailTest_OnClick">Email Test</MudButton>
<MudLink Href="/dashboard">Dashboard</MudLink>
<MudLink Href="/buckettools">Bucket Tools</MudLink>
<CopyToClipboard Text="TEST"/>
*@


<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid Justify="Justify.Center">
        <!-- hero -->
        <MudItem xs="12">
            <div style="min-height:100px;"></div>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudStack>
                <h1 class="mud-typography-h1" style="font-size:3.5rem;">
                    <span class="fade-opacity-in delay-1">3D Catalog</span><br />
                    <span class="fade-opacity-in delay-2">Made</span><br />
                    <span class="fade-opacity-in delay-3"><strong>Easy</strong></span><br />
                </h1>
                <svg class="vector-underline delay-4" viewBox="0 0 206 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 23C89.445 5.91642 175.379 -4.33371 203 9.33313" stroke-width="6" stroke-linecap="round" />
                </svg>
                <div class="fade-opacity-in delay-5 my-10">
                    <p class="mud-typography mud-typography-body1 my-3">Revolutionize your CAD library today.</p>

                    <!-- configurator demos -->
                    @*<MudButton Href="/configurator/demo/dresser" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary">Dresser Demo</MudButton>*@
                    @*<MudButton Href="/configurator/demo/silo" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary">Silo Demo</MudButton>*@
                    @*<MudButton Href="/configurator/demo/awwac20718classdclasseflanges" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary">Flange Demo</MudButton>*@

                    <!-- mcmaster demo -->
                    <MudButton Href="/demo/categories/" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary">
                        Try Demo
                        <MudIcon Icon="@Icons.Material.Filled.ArrowForward" />
                    </MudButton>
                    @*<MudButton Href="/catalog/mcmaster-catalog-editor" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary">McMaster Editor</MudButton>*@

                </div>
            </MudStack>
        </MudItem>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudItem sm="8">
                @*<MudImage Src="/images/laptop_mockup.png" Alt="hero image" Fluid ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Class="pa-10" />*@
                <MudImage Src="/images/product_mockup.png" Alt="hero image" Fluid ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Class="pa-10" />
            </MudItem>
            <MudItem xs="12">
                <div style="min-height:100px;"></div>
            </MudItem>
        </MudHidden>


        <!-- learn more button -->
        <MudItem xs="12">
            <MudLink OnClick="LearnMore_OnClick" Color="Color.Default">
                <MudStack AlignItems="AlignItems.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Learn More</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Medium" />
                </MudStack>
            </MudLink>
        </MudItem>
    </MudGrid>
</MudContainer>

<div class="mud-background-gray" style="background: linear-gradient(0deg,var(--mud-palette-grey-lighter) 0%,var(--mud-palette-background-grey) 50%);">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid>

            <!-- what is cadflair -->
            <MudItem sm="12" id="learn-more-tag">
                <div style="min-height:75px;"></div>
            </MudItem>
            <MudItem sm="12" md="6" Class="px-5">
                <MudStack Row AlignItems="AlignItems.Center" Class="flex-wrap my-10">
                    <MudText Typo="Typo.h3" Align="Align.Center">What is</MudText>
                    <MudImage Src="/images/cadflair_logo.svg" Alt="Cadflair Logo" Height="40" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
                    <MudText Typo="Typo.h3" Align="Align.Center">?</MudText>
                </MudStack>
                <MudText>
                    Cadflair is an digital product catalog for manufacturing companies. Our mission is to make it simple for companies to share CAD data on the web.
                    Don't have CAD data available? No problem. At Cadflair, we will work with your team to build a digital library for your products, so you can spend more time growing your business.<br />
                    <br />
                    <strong>Customization for Any Industry</strong><br />
                    No two manufacturing processes are alike. That's why we specialize in creating CAD models that are as unique as your business.
                    From automotive components to intricate machinery, our team generates models that align with your industry-specific requirements.<br />
                    <br />
                    <strong>Efficiency Redefined</strong><br />
                    Time is money, and we understand urgency in manufacturing. Our CAD models are not just aesthetically pleasing, they're optimized for efficiency.
                    This means that all models can be viewed in a web-browser, on any device, anytime, anywhere.<br />
                    <br />
                    <strong>Collaborative Creation</strong><br />
                    Your vision, our expertise. We collaborate closely with your team to understand your products and expectations.
                    Our iterative process ensures that each CAD model is a result of collaborative refinement, guaranteeing a final product that aligns with your expectations.
                </MudText>
            </MudItem>
            <MudItem sm="12" md="6" Class="px-5">
                <MudStack Row AlignItems="AlignItems.Center" Class="flex-wrap my-10">
                    <MudText Typo="Typo.h3" Align="Align.Center">Why</MudText>
                    <MudImage Src="/images/cadflair_logo.svg" Alt="Cadflair Logo" Height="40" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
                    <MudText Typo="Typo.h3" Align="Align.Center">?</MudText>
                </MudStack>
                <MudText>
                    In today's connected world, CAD data is not just for manufacturing, it is a vital tool for communicating product details to customers. 
                    By providing direct access to your CAD data, you can empower your customers to explore the details of every design, 
                    fostering a deeper understanding of your products, and building confidence in your brand.
                </MudText>
                <MudList Class="d-flex flex-column justify-space-between flex-grow-1 py-10">
                    <MudListItem Text="View 3D CAD models on any device" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" Class="my-1" />
                    <MudListItem Text="Share models with a click" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" Class="my-1" />
                    <MudListItem Text="Get notified when customers download your models" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" Class="my-1" />
                    <MudListItem Text="Improve lead generation and conversion" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" Class="my-1" />
                    <MudListItem Text="Increase buyer confidence" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" Class="my-1" />
                </MudList>
            </MudItem>

            <!-- how it works -->
            <MudItem sm="12">
                <MudText Typo="Typo.h4" Align="Align.Center" Class="mt-15">How It Works</MudText>
            </MudItem>
            <MudItem sm="12" md="4">
                <MudPaper Outlined Class="pa-5" MinHeight="415px">
                    <MudStack Class="mud-height-full">
                        <MudText Style="font-size:6rem;" Align="Align.Center"><strong>1</strong></MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Icon="@Icons.Material.Filled.Create" />
                            <MudText Typo="Typo.h6">Create</MudText>
                        </MudStack>
                        <MudText>
                            Meet with our team to discuss your products, identify design parameters, and aggregate model dimensions.
                            We will create CAD files for your digital catalog, and review them with your team to ensure the details are just right.
                        </MudText>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem sm="12" md="4">
                <MudPaper Outlined Class="pa-5" MinHeight="415px">
                    <MudStack Class="mud-height-full">
                        <MudText Style="font-size:6rem;" Align="Align.Center"><strong>2</strong></MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Icon="@Icons.Material.Filled.Upload" />
                            <MudText Typo="Typo.h6">Publish</MudText>
                        </MudStack>
                        <MudText>
                            We will upload your models to Cadflair, and generate a filterable catalog for your product library, along with a web page for each unique model.
                            Models are stored on the latest cloud infrastructure to ensure availability and reliability.
                        </MudText>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem sm="12" md="4">
                <MudPaper Outlined Class="pa-5 mud-height-full" MinHeight="415px">
                    <MudStack Class="mud-height-full">
                        <MudText Style="font-size:6rem;" Align="Align.Center"><strong>3</strong></MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Icon="@Icons.Material.Filled.Share" />
                            <MudText Typo="Typo.h6">Share</MudText>
                        </MudStack>
                        <MudText>
                            Provide your customers with CAD data on demand. Share your catalog on social media, or embed it directly into your company's site.
                            View models on any device, without installing CAD packages or plugins.
                        </MudText>
                        <MudSpacer />
                        <MudStack Row Justify="Justify.FlexEnd">
                            <MudButton Href="/demo/categories" Color="Color.Primary" Variant="Variant.Filled">Try Demo</MudButton>
                        </MudStack>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem sm="12">
                <div style="min-height:125px;"></div>
            </MudItem>

            <!-- contact us -->
            <MudItem xs="12" Class="my-15" id="contact-us-tag">
                <MudPaper Class="pa-8" Elevation="5">
                    <MudStack Row AlignItems="AlignItems.Center">
                        <MudIcon Icon="@Icons.Material.Filled.Email" Size="Size.Large" />
                        <MudText Typo="Typo.h4"><strong>Contact Us</strong></MudText>
                    </MudStack>
                    <MudText Typo="Typo.body1" Class="my-10">
                        Cadflair is currently in development, but we are looking for early adopters to help us build a rock solid product.
                        Want to be involved? Please reach out if you think Cadflair could help your business!
                    </MudText>
                    <ContactUsForm />
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>

<Footer />



