@page "/"

<PageTitle>Cadflair</PageTitle>

@*<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity?.Name</p>
        <p>Auth Type: @context.User.Identity?.AuthenticationType</p>
        @foreach (var claim in context.User.Claims)
        {
            <p>Claim Type: @claim.Type</p>
            <p>Claim Value: @claim.Value</p>
        }

        <p>Database user:</p>
        <p>Id: @_authenticationService.LoggedInUser?.Id</p>
        <p>Object Identifier: @_authenticationService.LoggedInUser?.ObjectIdentifier</p>
        <p>First Name: @_authenticationService.LoggedInUser?.FirstName</p>
        <p>Last Name: @_authenticationService.LoggedInUser?.LastName</p>
        <p>Full Name: @_authenticationService.LoggedInUser?.FullName</p>
        <p>Email: @_authenticationService.LoggedInUser?.EmailAddress</p>
        <p>Created: @_authenticationService.LoggedInUser?.CreatedOn</p>
        <p>SubscriptionId: @_authenticationService.LoggedInUser?.SubscriptionId</p>

    </Authorized>

    <NotAuthorized>
        <p>Not logged in!</p>
    </NotAuthorized>
</AuthorizeView>
*@

@*
<MudButton OnClick="EmailTest_OnClick">Email Test</MudButton>
<MudLink Href="/dashboard">Dashboard</MudLink>
<MudLink Href="/buckettools">Bucket Tools</MudLink>
<CopyToClipboard Text="TEST"/>
*@


<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid Justify="Justify.Center">
        <!-- hero text -->
        <MudItem xs="12" sm="4">
            <MudStack Justify="Justify.Center" Style="min-height: 70vh;">
                <h1 class="mud-typography-h1" style="font-size:4rem;">
                    <span class="fade-opacity-in delay-1">Configuration</span><br />
                    <span class="fade-opacity-in delay-2">Made</span><br />
                    <span class="fade-opacity-in delay-3"><strong>Easy</strong></span><br />
                </h1>
                <svg class="vector-underline delay-4" viewBox="0 0 206 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 23C89.445 5.91642 175.379 -4.33371 203 9.33313" stroke-width="6" stroke-linecap="round" />
                </svg>
                <div class="fade-opacity-in delay-5 my-10">
                    <p class="mud-typography mud-typography-body1 my-3">Use CAD to automate your sales process.</p>
                    <MudButton Href="/demo/products" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary">
                        Try Demo 
                        <MudIcon Icon="@Icons.Material.Filled.ArrowForward"/>
                    </MudButton>
                </div>
            </MudStack>
        </MudItem>

        <!-- hero image -->
        <MudItem xs="12" sm="8">
            <MudStack Justify="Justify.Center" Style="min-height: 70vh;">
                @*<img src="/images/hero_photo_1.jpeg" alt="hero image" class="fade-opacity-in delay-5" />*@
                <img src="/images/laptop_mockup.png" alt="hero image" class="fade-opacity-in delay-5" />
            </MudStack>
        </MudItem>

        <!-- learn more button -->
        <MudItem xs="12">
            <MudLink OnClick="LearnMore_OnClick" Color="Color.Default">
                <MudStack AlignItems="AlignItems.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Learn More</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Medium" />
                </MudStack>
            </MudLink>
        </MudItem>
    </MudGrid>
</MudContainer>

<div class="mud-background-gray" style="background: linear-gradient(0deg,var(--mud-palette-grey-lighter) 0%,var(--mud-palette-background-grey) 50%);">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid>

            <MudItem sm="12">
                <div style="min-height:125px;"></div>
            </MudItem>
            <MudItem sm="12" id="learn-more-tag">
                <MudStack AlignItems="AlignItems.Center">
                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.Center" Class="flex-wrap">
                        <MudText Typo="Typo.h3" Align="Align.Center">What is</MudText>
                        <MudImage Src="/images/cadflair_logo.svg" Alt="Cadflair Logo" Height="50" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
                        <MudText Typo="Typo.h3" Align="Align.Center">?</MudText>
                    </MudStack>
                    <MudText Class="mx-15 my-5">
                        Cadflair is an online, CAD-based product configurator for industrial manufacturing companies. Our goal is to make it simple for companies 
                        to implement a product configurator that can be used as a pre-sales communication tool. We believe that CAD data is not just for manufacturing, 
                        but that it should be used to supplement the entire product design process, including pre-sales and quoting phases. Cadflair makes it easy to 
                        create a custom configurator for designed-to-order products. No programming skills required. 
                        <br /><br />
                        Why waste valuable time creating detailed solid models and boring PDFs... only to have a customer go silent? 
                        By automating pre-sales modeling work and sharing CAD data earlier in the product design process, you can <strong>save time AND 
                        provide greater value to your customers.</strong> Cadflair leverages the latest tools and technologies provided by Autodesk to bring
                        your CAD data to life.
                    </MudText>
                    <MudList>
                        <MudListItem Text="Reduce time spent on pre-sales CAD modeling" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" />
                        <MudListItem Text="View 3D CAD models on any device" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" />
                        <MudListItem Text="Generate new product configurations in seconds" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Dark" />
                        <MudListItem Text="Get notified when a customer views your products" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" />
                        <MudListItem Text="Share models with a click" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" />
                        <MudListItem Text="Improve lead generation and conversion" Avatar="@Icons.Material.Filled.Check" IconColor="Color.Default" />
                    </MudList>
                </MudStack>
            </MudItem>

            <!-- how it works -->
            <MudItem sm="12">
                <div style="min-height:125px;"></div>
            </MudItem>
            <MudItem sm="12" id="learn-more-tag">
                <MudText Typo="Typo.h4" Align="Align.Center">How It Works</MudText>
            </MudItem>
            <MudItem sm="12" md="4">
                <MudPaper Outlined Class="pa-5" MinHeight="415px">
                    <MudStack Class="mud-height-full">
                        <MudText Style="font-size:6rem;" Align="Align.Center"><strong>1</strong></MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Icon="@Icons.Material.Filled.Create" />
                            <MudText Typo="Typo.h6">Create base models.</MudText>
                        </MudStack>
                        <MudText>
                            Review your products with our team to identify key design parameters.
                            We will help you create base CAD files that Cadflair will use to generate new product configurations.
                        </MudText>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem sm="12" md="4">
                <MudPaper Outlined Class="pa-5" MinHeight="415px">
                    <MudStack Class="mud-height-full">
                        <MudText Style="font-size:6rem;" Align="Align.Center"><strong>2</strong></MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Icon="@Icons.Material.Filled.Publish" />
                            <MudText Typo="Typo.h6">Publish to Cadflair.</MudText>
                        </MudStack>
                        <MudText>
                            Publish base models to Cadflair to build out an online, CAD-based product catalog. Cadflair automatically 
                            generates a webpage for each product. Share the page through social media, or embed it directly into your company's site.
                        </MudText>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem sm="12" md="4">
                <MudPaper Outlined Class="pa-5 mud-height-full" MinHeight="415px">
                    <MudStack Class="mud-height-full">
                        <MudText Style="font-size:6rem;" Align="Align.Center"><strong>3</strong></MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Icon="@Icons.Material.Filled.ElectricBolt" />
                            <MudText Typo="Typo.h6">Electrify your sales process.</MudText>
                        </MudStack>
                        <MudText>
                            Provide your customers with CAD data on demand. Generate
                            new product configurations in seconds, and view full 3D models directly in a browser. 
                        </MudText>
                        <MudSpacer />
                        <MudStack Row Justify="Justify.FlexEnd">
                            <MudButton Href="/demo/products" Color="Color.Primary">Try Demo</MudButton>
                        </MudStack>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem sm="12">
                <div style="min-height:125px;"></div>
            </MudItem>

            <!-- demo cards -->
@*            <MudItem xs="12" Class="my-15">
                <MudText Typo="Typo.h2" Class="mb-5">Product Demos</MudText>
                <MudStack Row Justify="Justify.Center" Spacing="5">
                    <MudCard Class="mud-background-gray" Style="max-width:300px;">
                        <MudCardMedia Image="images/dresser_exploded.png" Class="ma-5" Height="200" />
                        <MudCardContent>
                            <MudStack Spacing="5">
                                <MudText Typo="Typo.h4"><strong>Jay's Dressers</strong></MudText>
                                <MudText Typo="Typo.body2">Jay's Dressers implemented an online configurator to minimize time spent on repetitive CAD work. Now their designs go from quoting to manufacturing in a fraction of the time. Design your own dresser here to see how it works! </MudText>
                            </MudStack>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Href="/demo/products" Color="Color.Primary">Check It Out</MudButton>
                        </MudCardActions>
                    </MudCard>
                    <MudCard Class="mud-background-gray" Style="max-width:300px;">
                        <MudCardMedia Image="images/silos_card_image.png" Class="ma-5" Height="200" />
                        <MudCardContent>
                            <MudStack Spacing="5">
                                <MudText Typo="Typo.h4"><strong>BIG Silos</strong></MudText>
                                <MudText Typo="Typo.body2">See how BIG Silos leverages forge to automate their selling process. By generating 2D drawings and 3D step files in the cloud, BIG silos is able to supply their customers with accurate CAD data within minutes of a request!</MudText>
                            </MudStack>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Href="/demo" Color="Color.Primary">Check It Out</MudButton>
                        </MudCardActions>
                    </MudCard>
                    <MudCard Class="mud-background-gray" Style="max-width:300px;">
                        <MudCardMedia Image="images/silos_card_image.png" Class="ma-5" Height="200" />
                        <MudCardContent>
                            <MudStack Spacing="5">
                                <MudText Typo="Typo.h4"><strong>HammerTek</strong></MudText>
                                <MudText Typo="Typo.body2">Check out this awesome catalog created by Hammertek! BOOM!</MudText>
                            </MudStack>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Href="/demo" Color="Color.Primary">Check It Out</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudStack>
            </MudItem>


*@

            <!-- contact us -->
            <MudItem xs="12" Class="my-15" id="contact-us-tag">
                <MudPaper Class="pa-8" Elevation="5">
                    <MudStack Row AlignItems="AlignItems.Center">
                        <MudIcon Icon="@Icons.Material.Filled.Email" Size="Size.Large" />
                        <MudText Typo="Typo.h4"><strong>Contact Us</strong></MudText>
                    </MudStack>
                    <MudText Typo="Typo.body1" Class="my-10">
                        Cadflair is currently in development, but we are looking for early adopters to help us build a rock solid product.
                        Want to be involved? Please reach out if you think Cadflair could help your business!
                    </MudText>
                    <ContactUsForm />
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>
<Footer />



