@page "/catalog/my-catalog"
@layout ConfiguratorLayout
@attribute [Authorize]

<PageTitle>Cadflair - My Catalog</PageTitle>

@*<iframe src="https://cadflair.com/demo/products" title="Cadflair model viewer" />*@
@*<iframe src="https://localhost:7269/catalog/demo/40a34855-3317-408f-a6b7-d2e77bdfd1ed" title="Cadflair model viewer" />*@

<MudDrawerContainer Class="mud-height-full relative">

    <!-- folders -->
    <MudHidden Breakpoint="Breakpoint.MdAndDown">
        <MudDrawer @bind-Open="@_drawerOpen" Anchor="Anchor.Left" Elevation="1" Variant="DrawerVariant.Persistent">
            <!-- new folder dialog -->
            <MudButton StartIcon="@Icons.Material.Filled.CreateNewFolder" Variant="Variant.Filled" OnClick="NewCatalogFolder_OnClick" Class="ma-3">New Folder</MudButton>
            <CatalogFolderTree CatalogFolders="_catalogFolders" 
                               SelectedCatalogFolder="_selectedCatalogFolder" SelectedCatalogFolderChanged="CatalogFolder_OnClick" 
                               ShowMoreMenu RenameCatalogFolderClicked="RenameCatalogFolder_OnClick" MoveCatalogFolderClicked="MoveCatalogFolder_OnClick" DeleteCatalogFolderClicked="DeleteCatalogFolder_OnClick" />
        </MudDrawer>
    </MudHidden>

    <MudStack Class="mud-height-full px-5 pt-3 overflow-auto relative">
        <MudOverlay Visible="_initializing" Absolute Class="mud-background">
            <MudProgressCircular Color="Color.Default" Size="Size.Large" Indeterminate />
        </MudOverlay>

        <!-- header toolbar -->
        <div>
            <MudToolBar DisableGutters Dense>
                <CatalogFolderBreadcrumbs CatalogFolder="_selectedCatalogFolder" CatalogFolderClicked="CatalogFolder_OnClick" />
                <MudSpacer />

                <!-- new cad model dialog -->
                @if (_selectedCatalogFolder != null)
                {
                    <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="() => _showUploadDialog = true">Upload</MudButton>
                    <MudDialog @bind-IsVisible="_showUploadDialog" Options="_uploadDialogOptions" ClassContent="relative">
                        <TitleContent>
                            <MudText Typo="Typo.h6">Upload</MudText>
                        </TitleContent>
                        <DialogContent>
                            <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="CatalogModelUpload_FilesChanged" Accept=".stp, .ipt"
                                       InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0;" Hidden="_uploadList.Any()"
                                       @ondragenter="@SetDragStyle" @ondragleave="@ClearDragStyle" @ondrop="@ClearDragStyle">
                                <ButtonTemplate>
                                    <MudPaper Height="400px" Outlined Class="overflow-auto" Style="@($"border-color: var(--mud-palette-lines-inputs); {_dragStyle}")">
                                        @if (_uploadList.Any())
                                        {
                                            <div class="flex-grow-1 overflow-auto">
                                                @foreach (CadModelUpload upload in _uploadList)
                                                {
                                                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="pa-3">
                                                        <MudText Style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;">@upload.File.Name</MudText>
                                                        <MudTooltip Text="@upload.Status" Placement="Placement.Left" RootClass="d-flex ma-0 pa-0">
                                                            @switch (upload.Status)
                                                            {
                                                                case "Not started":
                                                                    <MudIcon Icon="@Icons.Material.Filled.HourglassTop" Color="Color.Default" Size="Size.Small" />
                                                                    break;

                                                                case "Processing":
                                                                    <MudProgressCircular Indeterminate Size="Size.Small" />
                                                                    break;

                                                                case "Success":
                                                                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Small" />
                                                                    break;

                                                                case "Invalid file extension":
                                                                case "Invalid file name":
                                                                    <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Warning" Size="Size.Small" />
                                                                    break;

                                                                case "Error":
                                                                    <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" Size="Size.Small" />
                                                                    break;
                                                            }
                                                        </MudTooltip>
                                                    </MudStack>
                                                    <MudDivider />
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-height-full">
                                                <MudIcon Icon="@Icons.Material.Filled.UploadFile" Size="Size.Large" Color="Color.Default" />
                                                <MudText Typo="Typo.body1">Drop files or click</MudText>
                                            </MudStack>
                                        }
                                    </MudPaper>
                                </ButtonTemplate>
                            </MudFileUpload>
                        </DialogContent>
                        <DialogActions>
                            <MudButton OnClick="UploadDialog_OnClose" Disabled="_uploadInProgress">Close</MudButton>
                        </DialogActions>
                    </MudDialog>
                }
            </MudToolBar>
            <MudDivider />
        </div>

        <MudStack Class="flex-grow-1 overflow-auto">
            @if (_selectedCatalogFolder == null)
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="flex-grow-1">
                    <MudStack AlignItems="AlignItems.Center">
                        <MudIcon Icon="@Icons.Material.Filled.Folder" Size="Size.Large" />
                        <MudText Typo="Typo.body2">Select a folder.</MudText>
                    </MudStack>
                </MudStack>
            }
            else
            {
                <!-- models -->
                @if (_catalogModels.Any())
                {
                    @*<MudText Typo="Typo.body2" Class="mx-2" Style="font-weight:500">Models</MudText>*@
                    <MudGrid Justify="Justify.FlexStart" Class="ma-0" Spacing="0">
                        @foreach (CatalogModel catalogModel in _catalogModels)
                        {
                            <MudItem Class="pa-2">
                                <MudPaper>
                                    <MudButton Variant="Variant.Text" Href=@($"catalog/{_subscription?.SubdirectoryName}/{catalogModel.Guid}")>
                                        <MudStack Style="width:140px">
                                            <CatalogModelThumbnail CatalogModel="@catalogModel" Height="140" Width="140" />
                                            <MudText Typo="Typo.button" Style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;">@catalogModel.DisplayName</MudText>
                                        </MudStack>
                                    </MudButton>
                                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomLeft">
                                        <MudMenuItem OnClick="() => DeleteCatalogModel_OnClick(catalogModel)" Icon="@Icons.Material.Filled.Delete">Delete</MudMenuItem>
                                        <MudMenuItem OnClick="() => MoveCatalogModel_OnClick(catalogModel)" Icon="@Icons.Material.Filled.DriveFileMove">Move</MudMenuItem>
                                        @*<MudMenuItem OnClick="() => RegenerateCatalogModelDerivative_OnClick(catalogModel)"  Icon="@Icons.Material.Filled.Preview">Regenerate preview</MudMenuItem>*@
                                        @*<MudMenuItem OnClick="() => Embed_OnClick(catalogModel)"  Icon="@Icons.Material.Filled.Code">Embed</MudMenuItem>*@
                                    </MudMenu>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                }
                else
                {
                    <!-- TO DO: this is flashing when a new folder is clicked, need to get rid of that -->
                    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="flex-grow-1">
                        @if (_loadingCatalogModels)
                        {
                            <MudProgressCircular Color="Color.Default" Size="Size.Large" Indeterminate />

                        }
                        else
                        {
                            <MudStack AlignItems="AlignItems.Center">
                                <MudIcon Icon="@Icons.Material.Filled.InsertDriveFile" Size="Size.Large" />
                                <MudText Typo="Typo.body2">No models found.</MudText>
                            </MudStack>
                        }
                    </MudStack>
                }
            }
        </MudStack>
    </MudStack>
</MudDrawerContainer>

