@page "/{CompanyName}/products/{ProductName}"
@layout ConfiguratorLayout

<MudDrawer @bind-Open="@_drawerOpen"
           Variant="@DrawerVariant.Persistent"
           ClipMode="DrawerClipMode.Always"
           Anchor="Anchor.Left"
           Width="30%">
    <MudDrawerHeader>
        <MudText Typo="Typo.h5"><b>@_product?.DisplayName</b></MudText>
    </MudDrawerHeader>
    <MudStack Class="flex-grow-1 overflow-auto" Spacing="0">

        <!--Product Inputs-->
        @if (_iLogicFormData.Items == null)
        {
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="flex-grow-1">
                <MudProgressCircular Color="Color.Default" Indeterminate="true" Size="Size.Large" />
            </MudStack>
        }
        else
        {
            <MudForm @bind-IsValid="_validInputs" Class="flex-grow-1 overflow-auto">
                <MudStack Class="flex-grow-1 px-3 overflow-auto">
                    @foreach (ILogicFormElement element in _iLogicFormData.Items)
                    {
                        <ProductInput Element="@element" @key="element"></ProductInput>
                    }
                </MudStack>
            </MudForm>
        }

        <!--Action Buttons-->
        <MudStack Class="pa-3">
            <MudButton OnClick="Submit_OnClick" Disabled="@(!_validInputs || _configurationInProgress)" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Submit</MudButton>
            <MudButton OnClick="RequestQuote_OnClick" Disabled="_productConfiguration == null" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Request A Quote</MudButton>
            <MudButton OnClick="DownloadZip_OnClick" Disabled="_productConfiguration?.ForgeZipKey == null" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Download Zip</MudButton>
            <MudButton OnClick="DownloadStp_OnClick" Disabled="_productConfiguration?.ForgeStpKey == null" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Download Step</MudButton>
        </MudStack>
    </MudStack>
</MudDrawer>

<!--Collapse Drawer Button-->
<MudStack Class="d-flex flex-row absolute z-10 ma-1">
    <MudToggleIconButton @bind-Toggled="@_drawerOpen"
                         Variant="Variant.Filled"
                         Style="border-radius:50%"
                         Icon="@Icons.Filled.ChevronRight" Color="@Color.Primary" Size="Size.Large"
                         ToggledIcon="@Icons.Filled.ChevronLeft" ToggledColor="@Color.Primary" ToggledSize="Size.Large" />

</MudStack>

<!--Forge Viewer-->
<div class="d-flex ma-0 pa-0" style="height: calc(100vh - var(--mud-appbar-height))">
    <ForgeViewer @ref="_forgeViewer"/>
</div>



