@page "/{CompanyName}/products"

<PageTitle>@CompanyName - Products</PageTitle>


<MudStack Row="true" Spacing="0" Class="mud-height-full">

    <!-- product folder tree -->
    <MudStack Class="pa-3" Style="min-width:275px;">
        <MudTreeView T="ProductFolderTreeItem"
                     Items="_productFolderTreeItems"
                     SelectedValueChanged="SelectedTreeItemChanged"
                     Hover="true"
                     ExpandOnDoubleClick="true">
            <ItemTemplate>
                <MudTreeViewItem T="ProductFolderTreeItem"
                                 Value="@context"
                                 Items="@context.ChildItems"
                                 Text="@context.ProductFolder.DisplayName"
                                 Icon="@Icons.Filled.Folder" />
            </ItemTemplate>
        </MudTreeView>
    </MudStack>
    <MudStack Class="flex-grow-1 mud-height-full">
        <MudStack Spacing="0" Class="flex-grow-1 pa-3 overflow-auto">

            <!-- header toolbar -->
            <div>
                <MudToolBar DisableGutters="true" Dense="true">
                    @if (_breadcrumbItems.Count < 1)
                    {
                        <MudText>Please select a folder.</MudText>
                    }
                    else
                    {
                        <MudBreadcrumbs Items="_breadcrumbItems" Class="align-start">
                            <SeparatorTemplate>
                                <MudIcon Icon="@Icons.Material.Filled.ChevronRight" />
                            </SeparatorTemplate>
                            <ItemTemplate Context="item">
                                <MudText>@item.Text</MudText>
                            </ItemTemplate>
                        </MudBreadcrumbs>
                    }
                    <MudSpacer />
                    <MudIconButton OnClick="ToggleView" Icon="@(_displayListView ? Icons.Filled.GridView : Icons.Filled.ViewList)" />
                    @*<MudIconButton OnClick="() => _showDetails = !_showDetails" Icon="@Icons.Filled.Info" />*@
                </MudToolBar>
                <MudDivider />
            </div>

            @if (_loadingData)
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-height-full">
                    <MudProgressCircular Color="Color.Default" Indeterminate="true" Size="Size.Large" />
                </MudStack>
            }
            else
            {
                if (_products.Count < 1)
                {
                    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-height-full">
                        <MudStack AlignItems="AlignItems.Center">
                            <MudIcon Icon="@Icons.Filled.InsertDriveFile" Size="Size.Large" />
                            <MudText>No products found.</MudText>
                        </MudStack>
                    </MudStack>
                }
                else
                {
                    if (_displayListView)
                    {
                        <!-- product list view -->
                        <MudDataGrid T="Product"
                         Items="_products"
                         ColumnResizeMode="ResizeMode.Column"
                         Dense="true"
                         Elevation="0"
                         Hover="true"
                         FixedHeader="true"
                         Height="100%"
                         RowClick="ProductsGrid_OnRowClick"
                         Class="overflow-auto">
                            <Columns>
                                <Column T="Product" Sortable="false" Filterable="false" Resizable="false" CellStyle="width:100px">
                                    <CellTemplate>
                                        <ProductThumbnail Product="@context.Item" Height="100" Width="100" />
                                    </CellTemplate>
                                </Column>
                                <Column T="Product" Field="@nameof(Product.DisplayName)" Title="Display Name" />
                            </Columns>
                        </MudDataGrid>
                    }
                    else
                    {
                        <!-- product grid view -->
                        <MudGrid Justify="Justify.FlexStart" Class="my-5 overflow-auto" Style="max-height: 100%">
                            @foreach (Product product in _products)
                            {
                                <MudItem>
                                    <MudPaper>
                                        <MudButton Variant="Variant.Text" Href=@($"/{_subscription.SubdirectoryName}/products/{product.SubdirectoryName}")>
                                            <MudStack>
                                                <ProductThumbnail Product="@product" Height="200" Width="200" />
                                                @product.DisplayName
                                            </MudStack>
                                        </MudButton>
                                    </MudPaper>
                                </MudItem>
                            }
                        </MudGrid>
                    }
                }
            }
        </MudStack>
    </MudStack>
</MudStack>



@*<!-- product details drawer -->
<MudDrawer @bind-Open="_showDetails"
           Elevation="0"
           Variant="@DrawerVariant.Persistent"
           Anchor="Anchor.Right"
           ClipMode="DrawerClipMode.Always"
           Width="600px">

    <MudStack Row="true" Class="mud-height-full overflow-auto">
        <MudDivider Vertical="true" />
        <div>
            <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="pa-5">
                <MudText Typo="Typo.h5">Details</MudText>
                <MudIconButton OnClick="() => _showDetails = false" Icon="@Icons.Filled.Close" />
            </MudStack>
            <MudStack Row="true">
                <div class="flex-grow-1">
                    <MudText Typo="Typo.body1">Display Name: @_selectedProduct?.DisplayName</MudText>
                    <MudText Typo="Typo.body1">Parameters:</MudText>
                    <MudText Typo="Typo.body1">Allows custom configurations:</MudText>
                    <MudText Typo="Typo.body1">Is public:</MudText>
                    <MudText Typo="Typo.body1">Copy link:</MudText>
                </div>
                <ProductThumbnail Product="@_selectedProduct" Height="400" Width="400" />
            </MudStack>

            <!-- product paramaters grid -->
            <MudDataGrid T="ILogicFormElement"
                         Items="_parameterGridItems"
                         Class="flex-grow-1 overflow-auto"
                         Striped="true"
                         Dense="true">
                <Columns>
                    <Column T="ILogicFormElement" Field="@nameof(ILogicFormElement.Name)" Title="Display Name" />
                    <Column T="ILogicFormElement" Field="@nameof(ILogicFormElement.ParameterName)" Title="Parameter Name" />
                    <Column T="ILogicFormElement" Field="@nameof(ILogicFormElement.ParameterExpression)" Title="Default Value" />
                </Columns>
            </MudDataGrid>
        </div>
    </MudStack>
</MudDrawer>
*@

