<MudTooltip Text="@TooltipText">
    @if(Label == null)
    {
        <div class="relative">
            <!-- on mobile, can not access the clipboard from javascript interop, so this is a direct call to the javascript from client html -->
            <button onclick="mudWindow.copyToClipboard(this.value)" value="@Text" class="absolute z-10 mud-height-full mud-width-full" style="opacity:0;">Copy</button>
            <MudIconButton Icon="@Icon" Size="@Size" Variant="@Variant" Color="@Color" />
        </div>
    }
    else
    {
        <MudButton StartIcon="@Icon" Size="@Size" Variant="@Variant" Color="@Color">
            @Label
            <!-- on mobile, can not access the clipboard from javascript interop, so this is a direct call to the javascript from client html -->
            <button onclick="mudWindow.copyToClipboard(this.value)" value="@Text" class="absolute z-10 mud-height-full mud-width-full" style="opacity:0;">Copy</button>
        </MudButton>
    }
</MudTooltip>

@code{

    // parameters
    [Parameter] public string? Text { get; set; }
    [Parameter] public string TooltipText { get; set; } = "Copy";
    [Parameter] public Variant Variant { get; set; } = Variant.Text;
    [Parameter] public Size Size { get; set; } = Size.Small;
    [Parameter] public Color Color { get; set; } = Color.Default;
    [Parameter] public string Icon { get; set; } = Icons.Material.Filled.ContentCopy;
    [Parameter] public string? Label { get; set; }

}



