@*
<h3>Users</h3>


<div class="form-container">
    <SfTextBox Placeholder="First Name" @bind-Value="_firstNameValue" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
    <SfTextBox Placeholder="Last Name" @bind-Value="_lastNameValue" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
    <SfTextBox Placeholder="User Name" @bind-Value="_userNameValue" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
    <SfTextBox Placeholder="Password" @bind-Value="_passwordValue" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>

    <SfDropDownList TItem="UserRole" TValue="int" DataSource="@_applicationRoles" @bind-Value="_applicationRoleValue" Placeholder="Select Role">
        <DropDownListFieldSettings Text="@nameof(UserRole.Name)" Value="@nameof(UserRole.Id)" />
    </SfDropDownList>

    <SfButton OnClick="AddUser" IsPrimary="true" CssClass="e-outline">Add User</SfButton>
    <SfButton OnClick="TestPasswordHash" IsPrimary="true" CssClass="e-outline">Test Password</SfButton>
</div>

<div class="grid-container">
    <SfGrid DataSource="@_applicationUsers" TValue="User">
        <GridColumns>
            <GridColumn Field=@nameof(User.Id) HeaderText="Id" />
            <GridColumn Field=@nameof(User.AccountId) HeaderText="Account Id" />
            <GridColumn Field=@nameof(User.FirstName) HeaderText="First Name" />
            <GridColumn Field=@nameof(User.LastName) HeaderText="Last Name" />
            <GridColumn Field=@nameof(User.PasswordHash) HeaderText="Password Hash" />
            <GridColumn Field=@nameof(User.CreatedOn) HeaderText="Created On" />
        </GridColumns>
    </SfGrid>
</div>

@code {

    //data
    private List<User> _applicationUsers = new();
    private List<UserRole> _applicationRoles = new();

    //form variables
    private string _firstNameValue = string.Empty;
    private string _lastNameValue = string.Empty;
    private string _userNameValue = string.Empty;
    private string _passwordValue = string.Empty;
    private int _applicationRoleValue;

    protected override async Task OnInitializedAsync()
    {
        //initialize form data
        //_userTypes = await _userService.GetUserTypes();
        //_applicationRoles = await _userService.GetUserTypes();

        //initialize grid
        await RefreshDataGrid();
    }

    private async Task RefreshDataGrid()
    {
        //_users = await _userService.GetUsers();
    }

    private async Task AddUser()
    {
        //User newUser = new()
        //{
        //    ApplicationRoleId = 1,
        //    UserName = _userNameValue,
        //    NormalizedUserName = _userNameValue,
        //    FirstName = _firstNameValue,
        //    LastName = _lastNameValue,
        //};

        ////store hashed password
        //PasswordHasher<User> hasher = new();
        //newUser.PasswordHash = hasher.HashPassword(newUser, _passwordValue);

        ////await _userService.CreateUser(newUser);
        //await _userStore.CreateAsync(newUser, CancellationToken.None);
        //await RefreshDataGrid();
    }

    private void TestPasswordHash() 
    {
        PasswordHasher<User> hasher = new();
        string hashValue = hasher.HashPassword(new User(), _passwordValue);
        Debug.WriteLine($"Password: {_passwordValue}");
        Debug.WriteLine($"Password: {hashValue} Length: {hashValue.Length}");
    }
}
*@